Checks: '-*,bugprone-*,readability-*,modernize-*,llvm-*'
CheckOptions:
  - key: 'readability-function-name-case'
    value: 'CamelCase'
  - key: 'readability-identifier-naming.FunctionCase'
    value: 'CamelCase'
  - key: 'readability-identifier-naming.ClassCase'
    value: 'CamelCase'
  - key: 'readability-identifier-naming.VariableCase'
    value: 'lower_case_with_underscores'
  - key: 'readability-identifier-naming.ConstantCase'
    value: 'UPPER_CASE'
  - key: 'readability-identifier-naming.TypeCase'
    value: 'CamelCase'
  - key: 'readability-identifier-naming.ParameterCase'
    value: 'lower_case_with_underscores'
